Shepherd Feedback

There are no normative references inthe document - we should move some off the non-normative references to the normative section

Candidates for inclusion as normative rather than informative:

1. RFC 8628 (OAuth 2.0 Device Authorization Grant)
2. CIBA (OpenID Connect Client-Initiated Backchannel Authentication Flow)
3. RFC 6749 (The OAuth 2.0 Authorization Framework)
4. RFC 7662 (OAuth 2.0 Token Introspection)
5. CTAP22Draft (Client to Authenticator Protocol)
6. IEEE802154 (IEEE Standard for Low-Rate Wireless Networks)
7. CAEP (OpenID Continuous Access Evaluation Profile) and SSF (OpenID Shared Signals Framework Specification)


Also added WebAuthN and SSF as normative

Closed with PR #163 